# strings

In [16]:
s="sridhar"
s

'sridhar'

# string slicing

In [5]:
s[5]

'a'

In [7]:
s[5:6]

'a'

In [8]:
s[-3]

'h'

In [10]:
len(s)

7

In [11]:
len(s)-2

5

In [14]:
s[-5]

'i'

In [15]:
s[2:]

'idhar'

In [18]:
s[4]

'h'

In [24]:
s1="python"
s1

'python'

In [26]:
s1[-4]

't'

In [27]:
len(s1)

6

In [29]:
print(s1[len(s1)//2-1:len(s1)//2+1])

th

In [30]:
s[::-1]

'rahdirs'

In [31]:
s1[::-1]

'nohtyp'

In [35]:
s[0:4:2]

'si'

In [36]:
s[:7:1]

'sridhar'

In [38]:
s[0: :2]

'sihr'

In [45]:
s3= "programer"
s3.capitalize()

'Programer'

In [43]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [48]:
s2
s2[1:5:-2]

''

In [49]:
s="hari"

In [52]:
k='+'.join(s)

In [53]:
k

'h+a+r+i'

In [54]:
a="all"

In [55]:
k='@'.join(a)

In [56]:
k

'a@l@l'

In [59]:

s.endswith("i")

True

In [60]:
s.startswith("a")

False

In [63]:
s.__contains__("m")

False

In [67]:
s.replace("h" ,"a")

'aari'

In [68]:
hr="engineering"
hr.replace("e","s")

'snginssring'

In [73]:
t="naveen "
t. isnumeric()

False

In [77]:
print(t.strip())

naveen

# conditional statements

In [106]:
s="hello world"
if type(s)==str:
    print("this is a sting")
else:
    print("not a string")

this is a sting

In [114]:
n=7
if n%2==0:
    print("even")
else:
    print ("odd")

odd

In [121]:
n=int(input("enter your marks"))
if n>35:
      print("pass")
else:
      print("fail")

enter your marks78
pass

In [24]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    print ("a is greatest")
elif b>c:
    print("b is gratest")
else:
     print("c is greatest")

34
56
89
c is greatest

# loops

In [7]:
i=0
while i<10:
    if i==6:
        pass
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [12]:
k='1234'
for i in k:    
    if i =='3':
        print (i,end=' ')

3

In [17]:
for i in range(0,11,2):
    print(i,end='*')

0*2*4*6*8*10*

In [20]:
for i in range(10):
    if i==5:
        break
    print(i, end=' ')

0 1 2 3 4

In [23]:
for i in range(10):
    if i==5:
        pass
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [25]:
str='hero'
str[::-1]

'oreh'

In [33]:
n=int(input())
for i in range(n+1):
    print(i)

10
0
1
2
3
4
5
6
7
8
9
10

In [37]:
for i in  range(0,20):
    i=i%2
    print(i)

0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1

In [41]:
for i in range(10):
    print(i**3)

0
1
8
27
64
125
216
343
512
729

In [2]:
n=int(input())
total=0
for i in range(n):
    total=total+i
    print(' sum of all numbers:',total)
    print('average:',total/n)

20
 sum of all numbers: 0
average: 0.0
 sum of all numbers: 1
average: 0.05
 sum of all numbers: 3
average: 0.15
 sum of all numbers: 6
average: 0.3
 sum of all numbers: 10
average: 0.5
 sum of all numbers: 15
average: 0.75
 sum of all numbers: 21
average: 1.05
 sum of all numbers: 28
average: 1.4
 sum of all numbers: 36
average: 1.8
 sum of all numbers: 45
average: 2.25
 sum of all numbers: 55
average: 2.75
 sum of all numbers: 66
average: 3.3
 sum of all numbers: 78
average: 3.9
 sum of all numbers: 91
average: 4.55
 sum of all numbers: 105
average: 5.25
 sum of all numbers: 120
average: 6.0
 sum of all numbers: 136
average: 6.8
 sum of all numbers: 153
average: 7.65
 sum of all numbers: 171
average: 8.55
 sum of all numbers: 190
average: 9.5

In [7]:
n=int(input())
s=0
for i in range (1,n):
    if n%i ==0:
        s=s+i
        if s==n:
            print('perfect number')
        else:
                print('not a perfect number')

10
not a perfect number
not a perfect number
not a perfect number

In [8]:
n=input()
digits=len(n)
total=0
for i in n:
    total=total

4